<!-- account/templates/account/index.html -->

{% extends "shared_layout.html" %}
{% block title %}User Information{% endblock %}

{% block main_content %}
    <div class="container_fluid p-3">

        <h1>Your user account</h1>

        <div>
            Welcome to your account, {{ current_user.email }}
        </div>
        <div>
            <a href="{{ url_for_security('change_password') }}">Change password</a>
        </div>
    </div>
{% endblock %}

{% block additional_css %}{% endblock %}