<!-- mfo/account/templates/profile_long.html -->

<!--
    Links with bootstrap and Flask-WTF examples 
https://mdbootstrap.com/docs/standard/extended/profiles/ 

-->

<div class="container-fluid pt-4 pb-5 bg-body border border-end">


    <div class="row justify-content-center align-items-center">
        <div class="col">


            <div class="card bg-white border border-secondary rounded h-100 ">
                <div class="card-header bg-secondary pt-3 pb-2 text-center">
                    <h1 class="text-white">{{ profile.name }}</h1>
                    <p class="text-light fs-5">
                        {% for role in profile.roles %}
                            <span class="mx-2">{{ role.name }}</span>
                        {% endfor %}
                    </p>
                </div>
                <div class="row justify-content-center text-center mt-4">
                    <div class="col-sm-8">
                        {% if profile.address and profile.city and profile.province and profile.postal_code %}
                        <h4 class="text-muted">Address</h4>
                        <p class="text-dark fs-5">
                            {% if profile.address %}
                                {{ profile.address }},&nbsp;
                            {% endif %}
                            {% if profile.city %}
                                {{ profile.city }},&nbsp;
                            {% endif %}
                            {% if profile.province %}
                                {{ profile.province }},&nbsp;
                            {% endif %}
                            {% if profile.postal_code %}
                                {{ profile.postal_code }}
                            {% endif %}
                        </p>
                        {% endif %}
                    </div>
                </div>
                <div class="row justify-content-center text-center mt-2">
                    <div class="col-sm-5 align-items-center">
                        <h4 class="text-muted">E-mail</h4>
                        <p class="text-dark fs-5">{{ profile.email }}</p>
                    </div>
                    <div class="col-sm-5 text-center">
                        <h4 class="text-muted">Phone</h4>
                        <p class="text-dark fs-5">{{ profile.phone }}</p>
                    </div>
                </div>
                <div class="row justify-content-center text-center mt-2">
                    <div class="col-sm-5 align-items-center">
                        <h4 class="text-muted">Birth date</h4>
                        <p class="text-dark fs-5">{{ profile.birthdate }}</p>
                    </div>
                    <div class="col-sm-5 text-center">
                        <h4 class="text-muted">National Festival</h4>
                        <p class="text-dark fs-5">
                            {% if profile.national_festival %}
                                Yes
                            {% else %}
                                No
                            {% endif %}
                        </p>
                    </div>
                </div>

                <div class="card-footer mt-4 pt-4 pb-3">
                    <!-- Some roles do not pay fees, so do not show them -->
                    {% set ns = namespace(roles=[]) %}
                    {% for role in profile.roles %}
                        {% do ns.roles.append(role.name) %}
                    {% endfor %}
                    {% set only_accompanist = 'Accompanist' in ns.roles and ns.roles|length == 1 %}
                    {% set only_adjudicator = 'Adjudicator' in ns.roles and ns.roles|length == 1 %}
                    {% set only_accompanist_and_adjudicator = 'Accompanist' in ns.roles and 'Adjudicator' in ns.roles and ns.roles|length == 2 %}
                    {% set hide_fees = only_accompanist or only_adjudicator or only_accompanist_and_adjudicator %}
                    {% if not hide_fees %}
                    <div class="row justify-content-center text-center">
                        <div class="col-sm-5">
                            <h4 class="text-muted">Total fees</h4>
                            <p class="text-dark fs-5">{{ "${:,.2f}".format(profile.total_fee) }}</p>
                        </div>
                        <div class="col-sm-5">
                            <h4 class="text-muted">Fees paid</h4>
                            <p class="text-dark fs-5">{{ "${:,.2f}".format(profile.fees_paid) }}</p>
                        </div>
                    </div>
                    {% else %}
                    <div class="py-3"></div>
                    {% endif %}
                </div>

            </div>


        </div>
    </div>
    <div class="row justify-content-between gap-2">
        <div class="col">
            <a class="btn btn-primary d-block btn-lg mt-3" href={{ url_for("account.edit_profile_get") }}>Edit profile</a>
        </div>
        <div class="col">
            <a class="btn btn-success btn-lg d-block mt-3" href={{ url_for_security('change_password') }}>Change password</a>
        </div>
    </div>
</div>

