<!-- mfo/home/templates/home/index.html -->

{% extends "base.html" %}

{% block title %}Home page{% endblock %}

{% block content %}

<!-- Hero section -->
<div class py-3> 

</div>
<div class="px-4 py-5 text-center border-bottom">
    <h1 class="display-2">Music Festival Organizer</h1>
    <p class="lead mb-3 px-4">
        Designed to support participants and administrators 
        of competitive music festivals.
    </p>
    <p class="px-5 fw-light">
        Whether you're 
        a teacher or student preparing for a musical competition, 
        or a volunteer who is administering
        registrations and scheduling sessions, our platform offers 
        you the tools you need to ensure a seamless and enriching 
        experience.
    </p>
</div>

<section class="py-4 px-5 bg-light border-bottom">
    <h2 class="display-5 text-center mb-4">Key Features</h2>
    <p class="text-center mb-5">
        Our platform offers a range of features to support 
        participants, adjudicators, and administrators 
        throughout the competition process.
    </p>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4 gy-4 pb-5">
        <div class="col">
            <div class="card h-100 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Participant Registration</h5>
                    <p class="card-text fw-light">
                        Register as a participant. Parents and teachers 
                        may register their children or students. Participants
                        can access their competition schedule.
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Session Scheduling</h5>
                    <p class="card-text fw-light">
                        Administrators can create and manage 
                        competition sessions, assign adjudicators, 
                        and schedule participant performances.
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Teachers and Accompanists</h5>
                    <p class="card-text fw-light">
                        Teachers can see their students' schedules.
                        Accompanists can see the pieces they are
                        accompanying and the schedule each day.
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Payment information</h5>
                    <p class="card-text fw-light">
                        Participants can see the cost of all their
                        registrations. Administrators can track
                        payments and provide receipts.
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Adjudicator Information</h5>
                    <p class="card-text fw-light">
                        Adjudicators can track information about
                        the sessions they will adjudicate so it is 
                        easy to prepare for sessions and to see changes to 
                        the schedule.
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 shadow-sm"> <!-- Added shadow for depth -->
                <div class="card-body">
                    <h5 class="card-title">Data Import and Export</h5> 
                    <p class="card-text fw-light">
                        Easy-to-use 
                        tools for mass registrations and data analysis. 
                        Import registrations via spreadsheet and export 
                        comprehensive festival data effortlessly.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container py-3 pb-5 text-center">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <div class="px-5 mt-4 rounded-lg">
                <h1 class="display-4 pb-3">Simplify Festival Management</h1> <!-- Enhanced headline -->
                <p class="lead pb-4">
                    Make festival administration a breeze for participants, 
                    educators, and administrators alike. Our platform is 
                    designed to streamline operations, ensuring a smooth 
                    and enjoyable experience for all.
                </p>
                <a class="btn btn-primary btn-lg" href="#" role="button">Learn More</a> <!-- CTA button -->
            </div>
        </div>
    </div>
</div>



<!-- Footer -->
<footer class="py-4 bg-dark text-white-50">
    <div class="container text-center">
        <small>© 2023 Brian Linkletter. All rights reserved.</small>
    </div>
</footer>
{% endblock %}
