
<div class="dropdown">
    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Admin</a>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="{{ url_for('admin.index_get') }}">Upload Spreadsheet</a></li>
        <li><a class="dropdown-item" href="{{ url_for('admin.delete_festival_data_get') }}">Delete Festival Data</a></li>
    </ul>
</div>
<div class="dropdown">
    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Reports</a>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="{{ url_for('admin.classes_get') }}">Classes</a></li>
        <li><a class="dropdown-item" href="{{ url_for('admin.repertoire_get') }}">Repertoire</a></li>
        <li><a class="dropdown-item" href="{{ url_for('admin.profile_report_get', role='Teacher', report_name='Teachers') }}">Teachers</a></li>
        <li><a class="dropdown-item" href="{{ url_for('admin.profile_report_get', role='Accompanist', report_name='Accompanists') }}">Accompanists</a></li>
        <li><a class="dropdown-item" href="{{ url_for('admin.profile_report_get', role='Participant', report_name='Participants') }}">Individual Participants</a></li>
        <li><a class="dropdown-item" href="{{ url_for('admin.profile_report_get', role='Group', report_name='Groups') }}">Group Participants</a></li>
    </ul>
</div>
