<!-- templates/shared_layout.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block title %}Music Festival Website{% endblock %}</title>

    <link rel="stylesheet" href="/static/css/styles.css" />
    {{ bootstrap.load_css() }}

    {% block additional_css %}{% endblock %}
</head>

<body class="bg-light">
    {% include "navbar.html" %}
    <div class="container_fluid p-3">
        {% block main_content %}
        <h1>This is a simple example page</h1>
        {% endblock %}
    </div>

    {{ bootstrap.load_js() }}

</body>
</html>