<!-- admin/templates/admin/index.html -->

{% extends "/admin/_admin_base.html" %}
{% block title %}Accompanists{% endblock %}

{% block admin_content %}

<div class="container pt-4">
    <h3>Accompanists</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Address</th>
                <th>City</th>
                <th>Postal Code</th>
            </tr>
        </thead>
        <tbody>
            {% for accompanist in accompanists %}
            <tr>
                <td>{{ accompanist.name }}</td>
                <td>{{ accompanist.email }}</td>
                <td>{{ accompanist.phone }}</td>
                <td>{{ accompanist.address }}</td>
                <td>{{ accompanist.city }}</td>
                <td>{{ accompanist.postal_code }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
