<!-- admin/templates/admin/class_report.html -->

{% extends "/admin/_reports_base.html" %}
{% block title %}Classes{% endblock %}

{% block report_content %}

<div class="container pt-4">
    <h3>Classes</h3>
    <table class="table">
        <thead>
            <tr>
                <th><a href="{{ url_for('admin.classes_get', sort_by='number_suffix') }}">Class</a></th>
                <th><a href="{{ url_for('admin.classes_get', sort_by='description') }}">Description</a></th>
                <th><a href="{{ url_for('admin.classes_get', sort_by='type') }}">Type</a></th>
                <th><a href="{{ url_for('admin.classes_get', sort_by='discipline') }}">Discipline</a></th>
                <th><a href="{{ url_for('admin.classes_get', sort_by='number_of_entries') }}">Entries</a></th>
                <th><a href="{{ url_for('admin.classes_get', sort_by='total_fees') }}">Total Fees</a></th>
                <th><a href="{{ url_for('admin.classes_get', sort_by='total_time') }}">Total Time</a></th>
            </tr>
        </thead>
        <tbody>
            {% for _class in classes %}
            <tr>
                <td>{{ _class.number_suffix }}</td>
                <td>{{ _class.description }}</td>
                <td>{{ _class.type }}</td>
                <td>{{ _class.discipline }}</td>
                <td>{{ _class.number_of_entries }}</td>
                <td>{{ _class.total_fees }}</td>
                <td>{{ _class.total_time }}</td>
            </tr>
            
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
