<!-- admin/templates/admin/index.html -->

{% extends "base.html" %}
{% block title %}User Information{% endblock %}

{% block content %}
    {% include "flash.html" %}

    <div class="jumbotron text-center pt-4 pb-3 bg-light">
        <h1>Music Festival Organizer Admin Portal</h1>
        <p>Manage participants and events efficiently.</p>
    </div>
    <div class="container pt-4">
        <h3>Upload Spreadsheet</h1>
        <form method="POST" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <div class="mb-3">
                {{ form.file.label(class="form-label") }}
                {{ form.file(class="form-control") }}
            </div>
            <div class="mb-3">
                {{ form.submit(class="btn btn-primary") }}
            </div>
        </form>
    </div>

{% endblock %}

{% block additional_css %}
    <link rel="stylesheet" href="{{ url_for('admin.static', filename='css/styles.css') }}" >
{% endblock %}
