<!-- admin/templates/admin/index.html -->

{% extends "/admin/_admin_base.html" %}
{% block title %}Spreadsheet upload{% endblock %}

{% block admin_content %}

{% include "flash.html" %}

<div class="container pt-4">
    <div id="file-form">
        <h3>Upload Spreadsheet</h3>
        <form hx-post="{{ url_for('admin.index_post') }}" hx-swap="innerHTML" hx-target="#file-form" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <div class="mb-3">
                {{ form.file(class="form-control") }}
            </div>
            <div class="mb-3">
                {{ form.submit(class="btn btn-primary") }}
            </div>
        </form>
    </div>
</div>

{% endblock %}
