<!-- admin/templates/admin/index.html -->

{% extends "/admin/_admin_base.html" %}
{% block title %}Spreadsheet upload{% endblock %}

{% block admin_content %}

{% include "flash.html" %}

<div class="container pt-4 pb-10">
    <!-- {% include "flash.html" %} -->
    
    {% if issues %}
        {% include "admin/partials/issues.html" %}
    {% else %}
        <div class="alert alert-success" role="alert">
            No issues found. Ready to commit.
        </div>
    {% endif %}

    {% include "admin/partials/confirm_form.html" %}
    
</div>

<!-- Modal for saving issues file -->
<div class="modal fade" id="filenameModal" tabindex="-1" aria-labelledby="filenameModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="filenameModalLabel">Enter Filename</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="{{ url_for('admin.generate_text_file') }}" method="post" id="filenameForm">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="filename">Filename</label>
                        <input type="text" class="form-control" id="filename" name="filename" placeholder="issues.txt" value="issues.txt">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Download</button>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- Needed for issues file download.
This script checks the response for a redirect URL and navigates to it, triggering the file download. -->
{% block additional_js %}
<script>
    document.addEventListener('htmx:afterRequest', function(event) {
        if (event.detail.xhr && event.detail.xhr.response) {
            var response = JSON.parse(event.detail.xhr.response);
            if (response.redirect) {
                window.location.href = response.redirect;
            }
        }
    });
</script>

{% endblock %}

{% endblock %}
