<!-- admin/templates/admin/profile_report.html -->

{% extends "/admin/_reports_base.html" %}
{% block title %}{{ report_name }}{% endblock %}


{% block report_content %}

<div class="container pt-4">
    <h3>{{ report_name }}</h3>
    <table class="table">
        <thead>
            <tr>
                <th><a href="{{ url_for('admin.profile_report_get', report_name=report_name, role=role, sort_by='name') }}">Name</a></th>
                <th><a href="{{ url_for('admin.profile_report_get', report_name=report_name, role=role, sort_by='email') }}">Email</a></th>
                <th>Phone</th>
                <th>Address</th>
                <th>City</th>
                <th>Postal Code</th>
            </tr>
        </thead>
        <tbody>
            {% for profile in profiles %}
            <tr>
                {% if profile.name %}
                <td>{{ profile.name }}</td>
                {% else %}
                <td>{{ profile.group_name }}</td>
                {% endif %}
                <td>{{ profile.email }}</td>
                <td>{{ profile.phone }}</td>
                <td>{{ profile.address }}</td>
                <td>{{ profile.city }}</td>
                <td>{{ profile.postal_code }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
