<!-- admin/templates/admin/profile_report.html -->

{% extends "/admin/_reports_base.html" %}
{% block title %}{{ report_name }}{% endblock %}


{% block report_content %}

<div class="container pt-4">
    <h3>{{ report_name }}</h3>
    <table class="table">
        <thead>
            <tr>
                <th>
                    {% if role == 'Group' %}

                    <a href="{{ 
                        url_for('admin.profile_report_get', report_name=report_name, role=role, 
                        sort_by=update_sort('group_name', sort_by[:], sort_order[:]), 
                        sort_order=update_order('group_name', sort_by[:], sort_order[:])) 
                    }}">Group</a>

                    {% else %}

                    <a href="{{ 
                        url_for('admin.profile_report_get', report_name=report_name, role=role,
                        sort_by=update_sort('name', sort_by[:], sort_order[:]), 
                        sort_order=update_order('name', sort_by[:], sort_order[:]))
                    }}">Name</a>

                    {% endif %}
                </th>
                <th>
                    <a href="{{ 
                        url_for('admin.profile_report_get', report_name=report_name, role=role, 
                        sort_by=update_sort('email', sort_by[:], sort_order[:]), 
                        sort_order=update_order('email', sort_by[:], sort_order[:])) 
                    }}">Email</a>
                </th>
                <th>Phone</th>
                <th>Address</th>
                <th>City</th>
                {% if role == 'Participant' or role == 'Group' %}
                <th>
                    <a href="{{ 
                        url_for('admin.profile_report_get', report_name=report_name, role=role, 
                        sort_by=update_sort('school', sort_by[:], sort_order[:]), 
                        sort_order=update_order('school', sort_by[:], sort_order[:])) 
                    }}">School</a>
                </th>
                {% else %}
                <th>Postal Code</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for profile in profiles %}
            <tr>
                {% if role == 'Group' %}
                <td class="text-wrap">{{ profile.group_name }}</td>
                {% else %}
                <td class="text-wrap">{{ profile.name }}</td>
                {% endif %}
                <td class="text-wrap" style="word-break: break-all">{{ profile.email }}</td>
                <td class="text-nowrap">{{ profile.phone }}</td>
                <td class="text-wrap">{{ profile.address }}</td>
                <td class="text-wrap">{{ profile.city }}</td>
                <td class="text-wrap">
                {% if role == 'Participant' or role == 'Group' %}
                    {% if profile.attends_school %}
                        {{ profile.attends_school.name }}
                    {% else %}
                        None
                    {% endif %}
                {% else %}
                    {{ profile.postal_code }}
                {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
