<!-- admin/templates/admin/profile_report.html -->

{% extends "/admin/_reports_base.html" %}
{% block title %}{{ report_name }}{% endblock %}


{% block report_content %}

<div class="container pt-4">
    <h3>{{ report_name }}</h3>

    {% set form_action = url_for("admin.profile_report_post", report_name=report_name, role=role) %}
    {% include "/admin/partials/sort_report_form.html"  %}

    <table class="table">
        <thead>
            <tr>
                <th>
                    {% if role == 'Group' %}
                        Group
                    {% else %}
                        Name
                    {% endif %}
                </th>
                <th>Email</th>
                <th>Phone</th>
                <th>Address</th>
                <th>City</th>
                {% if role == 'Participant' or role == 'Group' %}
                <th>
                    School
                </th>
                {% else %}
                <th>Postal Code</th>
                {% endif %}
                <th>Entries</th>
            </tr>
        </thead>
        <tbody>
            {% for profile in profiles %}
            <tr>
                {% if role == 'Group' %}
                <td class="text-wrap"><a href="{{ url_for('admin.profile_info_get', id=profile.id) }}">{{ profile.group_name }}</a></td>
                {% else %}
                <td class="text-wrap"><a href="{{ url_for('admin.profile_info_get', id=profile.id) }}">{{ profile.name }}</a></td>
                {% endif %}
                <td class="text-wrap" style="word-break: break-all">{{ profile.email }}</td>
                <td class="text-nowrap">{{ profile.phone }}</td>
                <td class="text-wrap">{{ profile.address }}</td>
                <td class="text-wrap">{{ profile.city }}</td>
                <td class="text-wrap">
                {% if role == 'Participant' or role == 'Group' %}
                    {% if profile.attends_school %}
                        {{ profile.attends_school }}
                    {% else %}
                        None
                    {% endif %}
                {% else %}
                    {{ profile.postal_code }}
                {% endif %}
                </td>
                <td class="text-nowrap text-end pe-4">{{ profile.number_of_entries or 0}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% set url_endpoint='admin.profile_report_get' %}
    {% set total_items=total_profiles %}
    {% include "/admin/partials/pagination_participants.html" %}

{% endblock %}
