<!-- admin/templates/admin/repertoire_report.html -->

{% extends "/admin/_reports_base.html" %}
{% block title %}Repertoire{% endblock %}

{% block report_content %}

<div class="container pt-4">
    <h3>Repertoire</h3>
    {% set form_action = url_for("admin.repertoire_post") %}
    {% include "/admin/partials/sort_report_form.html" %}

    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Composer</th>
                <th>Discipline</th>
                <th>Type</th>
                <th>Level</th>
                <th>Duration</th>
                <!-- <th>Classes</th> -->
                <th>Entries</th>
            </tr>
        </thead>
        <tbody>
            {% for piece in repertoire %}
            <tr>
                <td><a href="{{ url_for('admin.repertoire_info_get', id=piece.id) }}">{{ piece.title }}</a></td>
                <td>{{ piece.composer }}</td>
                <td>{{ piece.discipline }}</td>
                <td>{{ piece.type }}</td>
                <td>{{ piece.level }}</td>
                <td>{{ format_time(piece.duration) }}</td>
                <!-- <td class="text-center">{{ piece.number_of_classes }}</td> -->
                <td class="text-center">{{ piece.number_of_entries }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% set url_endpoint='admin.repertoire_get' %}
    {% set total_items=total_repertoire %}
    {% include "/admin/partials/pagination.html" %}

{% endblock %}
