<!-- admin/templates/admin/repertoire_report.html -->

{% extends "/admin/_reports_base.html" %}
{% block title %}Repertoire{% endblock %}

{% block report_content %}

<div class="container pt-4">
    <h3>Repertoire</h3>
    <table class="table">
        <thead>
            <tr>
                <th>
                    <a href="{{ url_for('admin.repertoire_get', 
                    sort_by=update_sort('title', sort_by[:], sort_order[:]), 
                    sort_order=update_order('title', sort_by[:], sort_order[:])) }}">Title</a>
                </th>
                <th>
                    <a href="{{ url_for('admin.repertoire_get', 
                    sort_by=update_sort('composer', sort_by[:], sort_order[:]), 
                    sort_order=update_order('composer', sort_by[:], sort_order[:])) }}">Composer</a>
                </th>
                <th>
                    <a href="{{ url_for('admin.repertoire_get',
                    sort_by=update_sort('discipline', sort_by[:], sort_order[:]), 
                    sort_order=update_order('discipline', sort_by[:], sort_order[:])) }}">Discipline</a>
                </th>
                <th>
                    <a href="{{ url_for('admin.repertoire_get',
                    sort_by=update_sort('type', sort_by[:], sort_order[:]), 
                    sort_order=update_order('type', sort_by[:], sort_order[:])) }}">Type</a>
                </th>
                <th>
                    <a href="{{ url_for('admin.repertoire_get', 
                    sort_by=update_sort('level', sort_by[:], sort_order[:]), 
                    sort_order=update_order('level', sort_by[:], sort_order[:])) }}">Level</a>
                </th>
                <th>
                    <a href="{{ url_for('admin.repertoire_get', 
                    sort_by=update_sort('duration', sort_by[:], sort_order[:]), 
                    sort_order=update_order('duration', sort_by[:], sort_order[:])) }}">Duration</a>
                </th>
                <th>
                    <a href="{{ url_for('admin.repertoire_get', 
                    sort_by=update_sort('classes', sort_by[:], sort_order[:]), 
                    sort_order=update_order('classes', sort_by[:], sort_order[:])) }}">Classes</a>
                </th>
                <th>
                    <a href="{{ url_for('admin.repertoire_get', 
                    sort_by=update_sort('entries', sort_by[:], sort_order[:]), 
                    sort_order=update_order('entries', sort_by[:], sort_order[:])) }}">Entries</a>
                </th>
            </tr>
        </thead>
        <tbody>
            {% for piece in repertoire %}
            <tr>
                <td><a href="{{ url_for('admin.repertoire_info_get', id=piece.id) }}">{{ piece.title }}</a></td>
                <td>{{ piece.composer }}</td>
                <td>{{ piece.discipline }}</td>
                <td>{{ piece.type }}</td>
                <td>{{ piece.level }}</td>
                <td class="text-center">{{ piece.duration }}</td>
                <td class="text-center">{{ piece.classes }}</td>
                <td class="text-center">{{ piece.entries }}</td>
            </tr>
            
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
