<!-- mfo/admin/templates/admin/partials/class_table.html -->

<table class="table" id="class-table">
    <thead>
        <tr>
            <th>
                Class
            </th>
            <th>
                Name
            </th>
            <th>
                Discipline
            </th>
            <th>
                Type
            </th>
            <th class="text-end">
                Entries
            </th>
            <th class="text-end">
                Total Fees
            </th>
            <th class="text-end">
                Total Time
            </th>
    </thead>
    <tbody>
        {% for _class in classes %}
        <tr>
            <td><a href="{{ url_for('admin.class_info_get', id=_class.id) }}">{{ _class.number_suffix }}</a></td>
            <td>{{ _class.name }}</td>
            <td>{{ _class.discipline }}</td>
            <td>{{ _class.type }}</td>
            <td class="text-end">{{ _class.number_of_entries }}</td>
            <td class="text-end">{{ _class.total_fees }}</td>
            <td class="text-end">{{ format_time(_class.total_time, show_seconds=False) }}</td>
        </tr>
        
        {% endfor %}
    </tbody>
</table>